<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/fontawesome/6.5.1/css/all.min.css">
    <title>Thermal Cam {{ camera["name"] }}</title>
</head>
<style>{% include 'styles.css' %}</style>
<body>
    <div class="tab-buttons">
        <div class="tab-button active" onclick="showTab('videoTab')">Video</div>
        <div class="tab-button" onclick="showTab('fileListTab')">gespeicherte Dateien</div>
    </div>
    <div id="videoTab" class="tab active">
    <div id="toolbar">
        <button onclick="cycleHud()"><i class="fa-solid fa-chart-simple"></i> Cycle Hud</button>
        <button onclick="rotateImage()"><i class="fa-solid fa-rotate"></i> Rotate Image</button>
        <button onclick="flipImage()"><i class="fa-solid fa-arrows-left-right"></i> Flip Image</button>
        <button onclick="takePhoto()"><i class="fa-solid fa-camera"></i> Photo</button>
        <button id="recordButton" onclick="toggleRecording()"><i class="fa-solid fa-video"></i> Start Recording</button>        
    </div>
    <div id="videoContainer">
        <img id="videoFrame">
    </div>
    </div>

    <div id="fileListTab" class="tab">
        <!-- <button onclick="getFileList()">Dateiliste abrufen</button> -->
        <div id="fileListContainer">
            <!-- Hier wird die Dateiliste angezeigt -->
        </div>
    </div>

    <script src="scripts/socket.io.js"></script>
    <script>{% include 'scripts.js' %}</script>
</body>
</html>
