numpy==1.26.1
opencv_python==4.8.1.78
pyudev==0.24.1
Flask==3.0.0
flask_socketio==5.3.6
pyqrcode==1.2.1
pandas==2.1.4
openpyxl==3.1.2
xlsxwriter==3.1.9
git+https://github.com/tna76874/quickflare.git@ed55c9ec8d45b8e813777e16446e4eb1d97cba8d
